.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5px;
  grid-gap: 5px;
}

h2 {
  font-size: 14px;
  margin: 20px 0 5px;
  border-top: 1px dotted gray;
  text-align: center;
  margin-top: 10px;
}
