.shoppingItem {
  //   color: green;
  background-color: green;
  width: 100%;
  //   margin: 20px;
  &.purchased {
    // background-color: gray;
    opacity: 0.3;
    .mat-card-title {
      text-decoration: line-through;
      color: red;
    }
  }
}
