.shoppingItem {
  //   color: green;
  //   background-color: green;
  //   width: 100%;
  //   max-width: 400px;
  //   margin: 20px;
  //   max-width: 80px;
  overflow: hidden;
  &.purchased {
    // background-color: gray;
    opacity: 0.3;
    .mat-card-title {
      text-decoration: line-through;
      color: red;
    }
  }

  .mat-card-actions {
    text-align: right;
    padding-top: 0px;
  }

  .example-header-image {
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
  }

  .mat-card-actions,
  .mat-card-subtitle,
  .mat-card-content {
    margin-bottom: 0px;
  }

  .mat-card-image {
    margin-bottom: 10px;
  }
  &.mat-card {
    padding: 3px 10px;
  }

  .mat-card-title {
    font-size: 18px;
  }

  .mat-card-subtitle {
    font-size: 12px;
  }

  .btn-actions {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    margin: 0;
    padding: 0;
    /* width: 1px; */
    /* max-width: 20px; */
  }
}
