<div class="shop-list">
  <div class="grid-container">
    <div *ngFor="let currShopItem of shoppingList$ | async as shoppingList">
      <app-shop-item
        [shopItem]="currShopItem"
        (purchase)="updatePurchased($event)"
      ></app-shop-item>
    </div>
  </div>

  <!-- <mat-grid-list cols="3" [rowHeight]="250" [gutterSize]="5">
    <mat-grid-tile
      *ngFor="let currShopItem of shoppingList$ | async as shoppingList"
    >
      <app-shop-item
        [shopItem]="currShopItem"
        (purchase)="updatePurchased($event)"
      ></app-shop-item>
    </mat-grid-tile>
  </mat-grid-list> -->
  <app-shop-totals [obsPurchased]="onPurchased$"></app-shop-totals>
</div>
