/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}

html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.page-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
}
.page-header,
.page-footer {
  // background: red;
}
.page-content {
  flex: 1;
  overflow: auto;
  // background: #e9e9e9;
}

.page-footer {
  text-align: right;
}
