<mat-nav-list>
  <a mat-list-item (click)="openLink($event)">
    <span mat-line>Adicionar Item</span>
    <span mat-line>Adicionar mais um item à lista de compras</span>
  </a>

  <a mat-list-item (click)="openLink($event)">
    <span mat-line>Folhetos</span>
    <span mat-line>Consulte as ultima promoções</span>
  </a>

  <a mat-list-item (click)="openLink($event)">
    <span mat-line>Histórico</span>
    <span mat-line>Reveja todas as compras registadas na aplicação</span>
  </a>
</mat-nav-list>
